out/
cache/
broadcast/
coverage/
coverage.json
lcov.info

.env
.env.*
!.env.example

node_modules/
dist/
artifacts/
typechain/

.direnv/
.devenv/
result
result-*

.DS_Store
.idea/
.vscode/
*.swp

slither.db.json
crytic-export/

*.log
